{% extends "aplicacion/base.html" %}

{% block title %} Faffu Express{% endblock  %} 


{% block body %}
    
        
        <h1 class="title_prin" style="font-family: 'Fascinate Inline', cursive;" align="center" >FaFFu Express</h1>
        <h5 class="title_2" align="center">Mas rapido que tu ex!!</h5>
        
        <form action="">
            <label><input class="txt" type="text" placeholder="Nombre"></label>

            <label ><input class="txt" type="text" placeholder="Apellido"></label>

            <label ><input class="txt" type="text" placeholder="Email"></label>

            <label ><input class="txt" type="text" placeholder="Calular/WhatsApp"></label>

            <p><input class="enviar" type="submit" value="Ingresar"></p>
        </form>

        <script src="" async defer></script>

        <label><img src="C:\Express\img-background\dona.png"></label>

   

{% endblock  %}
