*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login {
    width: 400px;
    height: 470px;
    background-color: blue;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
}

.cuenta {
    width: 400px;
    height: 260px;
    background-color: blue;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
}

.title_prin {
    text-shadow: 2px 2px #A349A4 ;
    color: #FFFD47;
}

.title_2{
    color: white;
    font-family: 'kanit', 'cursiva';
}

.txt{
    width: 100%;
    margin: 13px 0;
    padding: 3px;
    border-radius: 4px;
    font-family: "Kanit";
    background-color: #FF914D;
}

.enviar{
    font-family: 'Kanit', 'cursiva';
    font-size: 15px;
    padding: 12px;
    margin: 13px 0;
    width: 100%;
    background-color: #FF914D;
    border: none;
}

.cuenta1{
    text-align: center;
}

.formulario{
    text-align: center;
}

.fafu{
    font-family:'Fascinate Inline';
    color:#FF1616;
    text-shadow: 2px 2px #712a72 ;
    text-align: center;
    padding-top: 200px;
    font-size: 50px;
}

.rapido{
    font-family: 'Francois One';
    color:white;
    text-align: center;
    font-size: 30;
}
.hombre{
    position: relative;
    top: -120px;
    left: 820px;
    width: 170px;
}
.pizza{
    position: relative;
    top: 1px;
    left: 820px;
    width: 170px;
}